@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "neue-regrade";
    src: url("/neue_regrade.woff2") format("woff2-variations");
  }

  body {
    @apply antialiased;
    font-family: "neue-regrade";
    text-rendering: optimizeSpeed;
    -webkit-tap-highlight-color: transparent;
    background-color: #f4f4f4;
  }

  body,
  main {
    min-height: 100vh;
    min-height: 100dvh;
  }

  main {
    @apply max-md:space-y-5;
  }

  main > section {
    @apply rounded-2xl overflow-hidden max-w-full;
    min-height: 220px;
    aspect-ratio: 3/2;
  }

  @media (min-width: 768px) {
    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a a"
        "b v"
        "đ g"
        "e e"
        "d ž"
        "z i"
        "z k"
        "l j";
    }

    main > section {
      aspect-ratio: unset;
      /* min-height: unset; */
    }

    #intro {
      grid-area: a;
    }
    #watch {
      grid-area: b;
    }
    #latest-work {
      grid-area: v;
    }
    #recognitions {
      grid-area: đ;
    }
    #logos {
      grid-area: g;
    }
    #video {
      grid-area: e;
    }
    #slogan {
      grid-area: d;
    }
    #milijarde {
      grid-area: ž;
    }
    #faq {
      grid-area: z;
    }
    #djordje {
      grid-area: k;
    }
    #features {
      grid-area: l;
    }
    #misc {
      grid-area: i;
    }
    #subscribe {
      grid-area: j;
    }
  }

  @media (min-width: 768px) and (max-width: 1500px) {
    #watch,
    #latest-work,
    #recognitions,
    #logos {
      min-height: 220px;
      aspect-ratio: 3/2;
    }

    #video {
      min-height: 220px;
      aspect-ratio: 16/9;
    }

    #slogan,
    #milijarde,
    #djordje,
    #features,
    #subscribe {
      min-height: 220px;
      aspect-ratio: 3/2;
    }
  }

  @media (min-width: 1500px) {
    main {
      display: grid;
      height: 100%;
      max-height: 100vh;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-template-areas:
        "a a b b v v g g d d"
        "a a b b v v g g d d"
        "đ đ e e e e e e d d"
        "đ đ e e e e e e ž ž"
        "đ đ e e e e e e ž ž"
        "z z e e e e e e i i"
        "z z e e e e e e i i"
        "z z k k l l j j j j"
        "z z k k l l j j j j"
        "z z k k l l j j j j";
    }

    main > section {
      min-height: unset;
      aspect-ratio: unset;
    }
  }

  /* font sizes */

  .fs-heading {
    font-size: 34px;
  }
  .fs-p {
    font-size: 17px;
  }
  .fs-small {
    font-size: 15px;
  }

  @media (min-width: 1500px) {
    .fs-heading {
      font-size: clamp(1.75rem, 0.855vw + 0.949rem, 3rem);
    }
    .fs-p {
      font-size: clamp(0.875rem, 0.855vw + 0.074rem, 2.125rem);
    }
    .fs-small {
      font-size: clamp(0.75rem, 0.769vw + 0.029rem, 1.875rem);
    }
  }

  /* #intro p {
    font-size: clamp(0.75rem, 0.781vw + 0.125rem, 1.063rem);
  } */

  #watch {
    background-image: url("/mars.png");
    background-size: cover;
  }

  #slogan {
    background-image: url("/slogan.png");
    background-size: cover;
  }
  #slogan p {
    font-size: clamp(1.125rem, 1.86vw + -0.108rem, 2.125rem);
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .clock {
    border-radius: 50%;
    text-align: center;
    position: relative;
    border: 4px solid white;
  }

  @media (max-width: 1499px) {
    .clock {
      @apply max-h-[50%] max-w-[50%] h-full aspect-square;
    }
  }

  @media (min-width: 1500px) {
    .clock {
      @apply w-[110px] h-[110px] aspect-square;
    }
  }

  @media (min-width: 2000px) {
    .clock {
      @apply w-[160px] h-[160px];
    }
  }

  .clock::after {
    background: white;
    content: "";
    width: 9%;
    height: 9%;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hour_hand {
    position: absolute;
    width: 4px;
    height: 25%;
    background: white;
    top: 25%;
    left: 48.4%;
    transform-origin: bottom;
    border-radius: 4px;
  }

  .min_hand {
    position: absolute;
    width: 4px;
    height: 35%;
    background: white;
    top: 15%;
    left: 48%;
    transform-origin: bottom;
    border-radius: 4px;
  }

  .sec_hand {
    position: absolute;
    width: 1px;
    height: 40%;
    background: #ff4500;
    top: 9.5%;
    left: 50%;
    transform-origin: bottom;
    border-radius: 1px;
  }
}
