@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "neue-regrade";
    src: url("/neue_regrade.woff2") format("woff2-variations");
  }

  body {
    @apply antialiased;
    font-family: "neue-regrade";
    text-rendering: optimizeSpeed;
    -webkit-tap-highlight-color: transparent;
    background-color: #f4f4f4;
  }

  body,
  main {
    min-height: 100vh;
    min-height: 100dvh;
  }

  main {
    @apply max-2xl:space-y-5;
  }

  main > section {
    @apply rounded-2xl overflow-hidden max-w-full;
    min-height: 220px;
    aspect-ratio: 3/2;
  }

  @media (min-width: 768px) {
    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    main > section {
      aspect-ratio: unset;
    }
  }

  @media (min-width: 1500px) {
    main {
      display: grid;
      height: 100%;
      max-height: 100vh;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-template-areas:
        "a a b b v v g g d d"
        "a a b b v v g g d d"
        "đ đ e e e e e e d d"
        "đ đ e e e e e e ž ž"
        "đ đ e e e e e e ž ž"
        "z z e e e e e e i i"
        "z z e e e e e e i i"
        "z z k k l l j j j j"
        "z z k k l l j j j j"
        "z z k k l l j j j j";
    }

    main > section {
      min-height: unset;
      aspect-ratio: unset;
    }

    #intro {
      grid-area: a;
    }
    #watch {
      grid-area: b;
    }
    #latest-work {
      grid-area: v;
    }
    #recognitions {
      grid-area: g;
    }
    #clients {
      grid-area: đ;
    }
    #video {
      grid-area: e;
    }
    #slogan {
      grid-area: d;
    }
    #milijarde {
      grid-area: ž;
    }
    #faq {
      grid-area: z;
    }
    #djordje {
      grid-area: k;
    }
    #features {
      grid-area: l;
    }
    #misc {
      grid-area: i;
    }
    #subscribe {
      grid-area: j;
    }
  }

  /* font sizes */

  .fs-heading {
    font-size: clamp(1.75rem, 0.855vw + 0.949rem, 3rem);
  }
  .fs-p {
    font-size: clamp(0.875rem, 0.855vw + 0.074rem, 2.125rem);
  }

  /* #intro p {
    font-size: clamp(0.75rem, 0.781vw + 0.125rem, 1.063rem);
  } */

  #watch {
    background-image: url("/mars.png");
    background-size: cover;
  }

  #slogan {
    background-image: url("/slogan.png");
    background-size: cover;
  }
  #slogan p {
    font-size: clamp(1.125rem, 1.86vw + -0.108rem, 2.125rem);
  }

  #features li {
    font-size: clamp(0.75rem, 0.781vw + 0.125rem, 1.063rem);
  }

  #djordje p {
    font-size: clamp(0.75rem, 0.769vw + 0.014rem, 0.938rem);
  }

  #djordje p {
    font-size: clamp(0.75rem, 0.769vw + 0.014rem, 0.938rem);
  }

  #our-services small {
    font-size: clamp(0.75rem, 0.769vw + 0.014rem, 0.938rem);
  }

  #our-services p {
    font-size: clamp(1.375rem, 2.124vw + -0.424rem, 2.125rem);
  }
}
